.paginator__buttons_block {
  position: absolute;
  left: 3rem;
  bottom: 1rem;
  display: flex;
}

.paginator{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.paginator__content {
  position: absolute;
}

@media (max-width: 970px) {
  .paginator__buttons_block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

